.Routes {
  font-weight: 600;
    color: var(--light-on-background-high-contrast, var(--background, #212121));
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 20px;
   
}


.text {
  font-weight: 600;
  color: var(--light-on-background-high-contrast, var(--background, #212121));
  font-style: normal;
  font-feature-settings: "clig" off, "liga" off;
  line-height: 20px; 
  font-size: 14px;
  font-family: Proxima Nova A;
}
