.boldText {
  color: #2a2a2a;
  font-family: Proxima Nova A;
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  margin-top: 80px;
  font-style: normal;
  line-height: 96px;
  text-transform: capitalize;
}

.span1 {
  line-height: 96px;
  text-transform: capitalize;
  font-weight: 700;
  color: #ff0096;
  font-style: normal;
  font-family: Proxima Nova A;
  font-size: 60px;
}

.bg {
  background: url(../Images/father.png), no-repeat;
  width: "100%";
  background-repeat: no-repeat; 
  height: auto;

}

.flexText {
  color: #2a2a2a;
  font-style: normal;
  line-height: normal;
  font-family: Proxima Nova A;
  text-align: left;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
}

.flexDes {
  text-transform: capitalize;
  color: #2a2a2a;
  font-size: 22px;
  font-weight: 400;
  font-family: Proxima Nova A;
  line-height: normal;
  font-style: normal;
}

.applyButton {
  border-radius: 4px;
  margin-top: 40px;
  display: flex;
  width: 168px;
  height: 56px;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  background: var(--1, #8800ec);

}

