.section4 {
  width: 100%;
}

.says {
  color: #2a2a2a;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  text-transform: capitalize;
  line-height: 137.8%; 
  font-weight: 600;
  font-family: Proxima Nova A;
 
}

.flexSection1 {
  width: 80%;
  display: flex;
  margin: auto;
 

}

.flexSection1 > div:nth-child(1) {
  width: 30%;
  justify-content: center;
}

.flexSection1 > div:nth-child(1) > img {
  width: 100%;
}

.flexSection1 > div:nth-child(2) {
  width: 20%;
  margin: auto;
  margin-top: 90px;
  flex-shrink: 0;
  /* border: 1px solid red; */
}

.flexSection1 > div:nth-child(2) > img {
  width: 100px;
  margin: auto;
  height: 75px;
}

.flexSection1 > div:nth-child(3) {
  width: 50%;
  height: 75px;
  text-align: left;
  margin-top: 123px;
}

.flexSection1 > div:nth-child(3) > img {
  width: 100%;
}

.sunil {
  color: #2a2a2a;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
  font-family: Proxima Nova A;
  font-weight: 600;
  text-transform: capitalize;
}

.ca {
  font-family: Proxima Nova A;
  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  font-style: normal;
}

.lorem {
  line-height: 24px;
  color: #2a2a2a;
  margin-top: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: Proxima Nova A;
 
}

.RectBar {
  width: 54px;
  height: 4px;
  border-radius: 10px;
  background: #676767;
  margin-top: 20px;
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
    .section4 {
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
      }
    .flexSection1{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .flexSection1 > div:nth-child(1) {
        width: 40%;
        height: 50%;
        margin: 10px auto;
    }
    .flexSection1 > div:nth-child(2) {
        display: none;
    }
    .flexSection1 > div:nth-child(3) {
        width: 90%;
        height: 50%;
        margin: 10px auto;
    }
}

