.loanText {
  color: #2a2a2a;
  text-transform: capitalize;
  text-align: center;
  line-height: 137.8%; 
  font-size: 44px;
  font-family: Proxima Nova A;
  font-weight: 600;
  font-style: normal;
}

.title {
  font-style: normal;
  text-transform: capitalize;
  color: #2a2a2a;
  font-size: 28px;
  font-family: Proxima Nova A;
  line-height: normal;
  font-weight: 600;
}

.des {
  color: #777479;
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
  font-family: Proxima Nova A;
  font-style: normal;
}

.span2 {
  line-height: normal;
  font-family: Proxima Nova A;
  font-size: 20px;
  font-weight: 600;
  color: var(--1, #8800ec);
  font-style: normal;
 
}

.heading {
  color: #000;
  line-height: 137.8%; 
  text-transform: capitalize;
  font-family: Proxima Nova A;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  text-align: center;

}

.partner {
  text-transform: capitalize;
  margin-top: 20px;
  color: #2a2a2a;
  font-style: normal;
  font-family: Proxima Nova A;
  font-size: 38px;
  line-height: 137.8%; 
  font-weight: 600;
}

.text2{
    color: #888;
font-size: 26px;
font-family: Proxima Nova A;
font-weight: 400;
font-style: normal;
line-height: 137.8%; 
}

.applyButton4 {
    border-radius: 4px;
    flex-direction: column;
    display: flex;
    width: 168px;
     align-items: center;
    background: var(--1, #8800ec);
    height: 56px;
    color: white;
    justify-content: center;
   
   
  }