.faq {
  color: #2a2a2a;
  line-height: 137.8%;
  font-family: Proxima Nova A;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 44px;

}

.faqSection {
  width: "100%";
}

.text {
  margin: "10px 0";
  color: #2a2a2a;
  text-transform: capitalize;
  font-family: Proxima Nova A;
  font-size: 18px;
  line-height: normal;
  font-style: normal;
  font-weight: 600;
}

.appButton {
  margin-top: -20px;
  display: flex;
  width: 216px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.contactText {
  color: #2a2a2a;
  font-size: 18px;
  font-family: Proxima Nova A;
  font-weight: 400;
  line-height: 28px; 
  font-style: normal;
}

.clear {
  font-family: Proxima Nova A;
  color: #2a2a2a;
  line-height: normal;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
